#header{
    height: 15vh;
}

#content{
    height: 80vh;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1vh;
    height: 80%;
    width: 60%;
}

.usImg{
    width: 80%;
    height: 90%;
}

.tablist-left {
width:  25%;
display: inline-block;
}
.tablist-content {
width: 60%;
display: inline-block;
vertical-align: top;
margin-left: 5%;
}